In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("campaign_performance.csv")
df.head()

   campaign_id     ad_date platform  ad_spend  clicks  impressions
0         1000  2024-01-01    insta  21854.31    1360        25840
1         1001  2024-01-08    insta  37939.73    4272        38448
2         1002  2024-01-15    insta  12020.84     966        10626
3         1003  2024-01-22    insta   7613.76    3944        31552
4         1004  2024-01-29    insta  11429.01     630         6300

In [3]:
df['platform'].value_counts()

platform
insta            6
LinkedIn Ads     6
YT               4
LI               4
YouTube          3
YouTube Ads      3
Instagram        2
Instagram Ads    2
Name: count, dtype: int64

In [21]:
df['platform'] = df['platform'].replace({'insta':'Instagram','Instagram Ads':'Instagram','YT':'YouTube','YouTube Ads':'YouTube','LI':'LinkedIn','LinkedIn Ads':'LinkedIn'})

In [22]:
df['platform'].value_counts()

platform
Instagram    10
YouTube      10
LinkedIn     10
Name: count, dtype: int64

In [23]:
df.to_csv('campaign_cleaned.csv', index= False)